<p>Country: <span><b><%= @data['Country']%></b></span></p>
<p>Continent: <span><b><%= @data['Continent']%></b></span></p>
<p>Case_Fatality_Rate: <span><b><%= @data['Case_Fatality_Rate']%></b></span></p>
<p>Recovery_Proporation: <span><b><%= @data['Recovery_Proporation']%></b></span></p>
<p>TotalCases: <span><b><%= @data['TotalCases']%></b></span></p>
<p>NewCases: <span><b><%= @data['NewCases']%></b></span></p>
<p>TotalDeaths: <span><b><%= @data['TotalDeaths']%></b></span></p>
<p>NewDeaths: <span><b><%= @data['NewDeaths']%></b></span></p>
<p>TotalRecovered: <span><b><%= @data['TotalRecovered']%></b></span></p>
<p>NewRecovered: <span><b><%= @data['NewRecovered']%></b></span></p>
<p>ActiveCases: <span><b><%= @data['ActiveCases']%></b></span></p>
<p>TotalTests: <span><b><%= @data['TotalTests']%></b></span></p>
<p>TotalTests: <span><b><%= @data['TotalTests']%></b></span></p>
<p>Population: <span><b><%= @data['Population']%></b></span></p>
<p>Deaths_1M_pop: <span><b><%= @data['Deaths_1M_pop']%></b></span></p>
<p>Serious_Critical: <span><b><%= @data['Serious_Critical']%></b></span></p>
<p>TotCases_1M_Pop: <span><b><%= @data['TotCases_1M_Pop']%></b></span></p>
