<!DOCTYPE html>
<html>
  <head>
    <title>ApiPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "search country", root_path %>||
    <%= link_to "match_schedule", match_schedule_path %>||
    <%= link_to "Stories", stories_path %>||
    <%= link_to "corona cases", view_path %>||
    <%= link_to "Get quote", message_path %>
    <%= yield %>
  </body>
</html>
